@charset "UTF-8";

/* ===== Custom Styles ===== */
#content.background {
	background-image: url("../images/indonesian_shadow.png");
	background-position: center top;
	background-size: contain;
}

#small_placeholder {
	background-image: url("../images/indonesian_shadow_low.png");
	background-position: center;
	background-size: cover;
}

.content-container {
	margin: 0 1.25rem;
}

.inner-container .title {
	font-family: "Seaweed Script";
}

#section_1 .title,
#section_2 .title,
#section_3 .title {
	font-family: "Seaweed Script";
}

#about #section_2 {
	position: relative;
	padding-bottom: 56.25%;
}

#section_3 .image-wrapper {
	cursor: pointer;
	position: relative;
	padding-bottom: 100%;
	width: 100%;
}

#section_3 .image-wrapper img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#about #section_2 {
	background-image: url("../images/cafe.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#about #section_4 {
	background-image: url("../images/banner2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slick_dots div {
	cursor: pointer;
}

#footer {
	background-color: #b58a05;
	border-top: 1px solid #5a5a5a;
}

#footer a.rounded-full {
	background-color: #000;
}

.menu-card {
	display: none;
}

.reverse-grid {
	direction: rtl;
}

.reverse-grid * {
	direction: ltr;
}

#contact_form .background {
	background-image: url("../images/wayang_background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.2;
	z-index: -1;
}

/**
 * Breakpoints (Mobile-first):
 * 576px, 768px, 1024px, 1280px, 1536px, 1920px
 */
@media screen and (min-width: 576px) {
	.content-container {
		margin: 0 auto;
		padding: 0 2.5rem;
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
	.content-container {
		padding: 0 3.05rem;
	}

	#main_banner {
		display: flex;
	}
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1536px) {
	#home #banner {
		background-image: url("../images/rujak_buah.png");
		background-position: 125% bottom;
		background-repeat: no-repeat;
		background-size: auto calc(100% - 9rem);
	}

	.inner-container > div {
		padding-top: 4rem;
		width: 100%;
	}

	.inner-container .info {
		width: 100%;
	}

	.content-container {
		padding: 0 3.5rem;
	}

	#small_placeholder {
		background-image: none;
	}
}

@media screen and (min-width: 1920px) {
}
